* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* .navbar-nav li{
    border: 2px solid white;
    margin: 10px;
    border-radius: 50px;
} */
#mainNavbar {
    font-size: 1 rem;
    margin: 30px;
    font-weight: 100;
    font-family: 'Orbitron', sans-serif;
    

}

#mainNavbar .nav-link {
    color: white;
    text-shadow: 2px 2px 0px black;
    /* border: 2px solid white; */
    margin: 10px;
    border-radius: 50px;
   
}


#mainNavbar .nav-link:first-child:hover{
    background: linear-gradient(90deg,rgb(0, 204, 255),  rgb(0, 128, 117), yellow,  turquoise);
    background-size: 400%;
    box-shadow: 0px 0px 30px turquoise;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
#mainNavbar .navbar-brand {
    color: rgb(57, 156, 237);
    /* font-size: 3 rem; */
    font-size: 3vw;
    font-family: 'Orbitron', sans-serif;
}

#vanta-canvas {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
}



.overlay {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

}

.introcontainer{
    margin: 50px;
    
   text-align: center;
}
.introcontainer h1{
    font-size: 8vw;
    color: white;
    font-family: 'Orbitron', sans-serif;
    
     text-shadow: 5px 5px 0px black;
    animation: appear 3s 1;
    
    
}
.introcontainer h5{
    color: white;
    text-shadow: 0 0 5px yellow;
    font-size: 1vw;
}

@keyframes appear {
    from{
        font-size: 0px;
    }
    to{
        font-size: 8vw;
        text-shadow: 0.05em 0 0 rgba(255,0,0,0.74), 
        -0.025em -0.05em rgba(0,255,0,0.75),
         0.025em 0.05em 0 rgba(0,0,255,0.75);
        animation: glitch 0.8s 1;
    }
}


@keyframes glitch {
    0%{
        text-shadow: 0.05em 0 0 rgba(255,0,0,0.74), 
    -0.005em -0.05em rgba(0,255,0,0.75),
     -0.025em 0.05em 0 rgba(0,0,255,0.75);
    }
    14%{
        text-shadow: 0.05em 0 0 rgba(255,0,0,0.74), 
    -0.005em -0.05em rgba(0,255,0,0.75),
     -0.025em 0.05em 0 rgba(0,0,255,0.75);
    }
    
    15%{
        text-shadow: 0.02em 0 0 rgba(255,0,0,0.74), 
        -0.005em -0.05em rgba(0,255,0,0.75),
         0.025em 0.05em 0 rgba(0,0,255,0.75);
    }
    49%{
        text-shadow: 0.02em 0 0 rgba(255,0,0,0.74), 
        -0.005em -0.05em rgba(0,255,0,0.75),
         0.025em 0.05em 0 rgba(0,0,255,0.75);
    }
    50%{
        text-shadow: -0.05em 0 0.025 rgba(255,0,0,0.74), 
        0.005em 0.05em rgba(0,255,0,0.75),
         0.025em -0.05em 0 rgba(0,0,255,0.75);
    }
    99%{
        text-shadow: -0.05em 0 0.025 rgba(255,0,0,0.74), 
        0.005em 0.05em rgba(0,255,0,0.75),
         0.025em -0.05em 0 rgba(0,0,255,0.75);
    }
    100%{
        text-shadow: -0.025em 0 0 rgba(255,0,0,0.74), 
        -0.015em -0.015em rgba(0,255,0,0.75),
         -0.025em -0.05em 0 rgba(0,0,255,0.75);
    }
}

.sponsorlogo{
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.lm{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 5px;
    overflow: hidden;
    margin-right: 50px;
    font-size: 3vw;
    font-family: 'Orbitron',sans-serif;
   
}
.lm:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.lm{
    filter: hue-rotate(270deg);
}
.lm span{
    position: absolute;
    display: block;
}

    .lm span:nth-child(1){
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#03e9f4);
        animation: animate1 1s linear infinite;
    }
    @keyframes animate1{
        0%{
            left: -100%;
        }
        50%,100%{
            left: 100%;
        }
    }
    .lm span:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#03e9f4);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }
    @keyframes animate2{
        0%{
            top: -100%;
        }
        50%,100%{
            top: 100%;
        }
    }
    .lm span:nth-child(3){
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#03e9f4);
        animation: animate3 1s linear infinite;
        animation-delay: 0.50s;
    }
    @keyframes animate3{
        0%{
            right: -100%;
        }
        50%,100%{
            right: 100%;
        }
    }
    
    
    .lm span:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#03e9f4);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
    @keyframes animate4{
        0%{
            bottom: -100%;
        }
        50%,100%{
            bottom: 100%;
        }
    }

/* * {
    padding: 0;
    margin: 0;
} */

body {
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}

.logoHolder{
    
    position: relative;
    height: 80px;
    width: 80px;
    left: 0px;
    
    z-index: 1;
}
.datetimecontainer{
    position: relative;
    /* right: 0px; */
    width: 80%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    /* display: flex; */
}
.calenderlogoholder{
    
    position: relative;
    height: 23px;
    width: 23px;
    /* left: 0px; */
    z-index: 3;
    float: right;
    
    
}

.objectivelogoholder{
    position: relative;
    height: 23px;
    width: 23px;
    /* left: 0px; */
    z-index: 3;
    float: right;
}

.trophyiconholder{
    position: relative;
    height: 23px;
    width: 23px;
    
    z-index: 3;
    display: flex;
    
}

.trophyimg{
    height: 100px;
    width: 100px;
    animation: bounce 2s linear 0.2s infinite;
}
.medalimg{
    height: 100px;
    width: 100px;
    animation: bounce 2s linear 0.5s infinite;
    
}

@media only screen and (max-width: 360px) {
    .medalimg{
        display: none;
    }
    
}

.cashimg{
    height: 100px;
    width: 100px;
    animation: bounce 2s linear 0.7s infinite;
}
@media only screen and (max-width: 300px) {
    .cashimg{
        display: none;
    }
    
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    75%{
        transform: translate(0px);
    }
    100%{
        transform: translate(0px);
    }
}


.targetimg{
    height: 60px;
    width: 60px;
    /* border-radius: 50%; */
}

.rulesiconholder{
    position: relative;
    height: 23px;
    width: 23px;
    /* left: 0px; */
    z-index: 3;
    float: right;
}

.rulesimg{
    height: 60px;
    width: 60px;
    /* border-radius: 50%; */
}

.faqsiconholder{
    position: relative;
    height: 23px;
    width: 23px;
    /* left: 0px; */
    z-index: 3;
    float: right;
}

.faqsimg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.calenderlogoholder h3{
    font-size: 30px;
}
.calenderimg{
    height: 60px;
    width: 60px;
    
}
.datetimecontainer h1{
    color: rgb(57, 156, 237);
    text-shadow: 3px 0px 5px black;
    font-family: 'Orbitron', sans-serif;
}
.objectivecontainer{
    position: relative;
    /* right: 0px; */
    width: 80%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.objectivecontainer .dibba{
    position: relative;
    width: 300px;
    height: 100px;
    display: flex;
}
.dibba h1{
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #00b3ff,
                 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 60px #00b3ff;
}
.lightbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    border-radius: 7px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 5px #00b3ff,
                0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 60px #00b3ff;
    animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar
{
    0%,5%
    {
        transform: scaleY(0) translateX(0);
    }
    10%
    {
        transform: scaleY(1) translateX(0);
    }
    90%
    {
        transform: scaleY(1) translateX(calc(300px - 7px));
    }
    95%,100%
    {
        transform: scaleY(0) translateX(calc(300px - 7px));
    }
}
.topLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: animatetopLayer 10s linear infinite;
}

@keyframes animatetopLayer
{
    0%,2.5%
    {
        transform: translateX(0);
    }
    5%
    {
        transform: translateX(0);
    }
    45%
    {
        transform: translateX(100%);
    }
    47.5%,50%
    {
        transform: translateX(100%);
    } 
    
    50.001%,52.5%
    {
        transform: translateX(-100%);
    }
    55%
    {
        transform: translateX(-100%);
    }
    95%
    {
        transform: translateX(0%);
    }
    97.5%,100%
    {
        transform: translateX(0%);
    }  
}
    
    
    




.section-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    
    
}

.columns {
    flex: 0 0 auto;
    width: 50%;
    
}


.section-container .columns {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}
 .columns {
    --tile: 40px;
    --radius: 50%;
  }
  .glass {
    position: relative;
    width: 400px;
    height: 400px;
  }
  .glass + .glass {
    margin-left: 1rem;
  }
  .glass:after, .glass:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-mask-position: 50% 50%;
            mask-position: 50% 50%;
    transition: -webkit-mask-size 0.75s;
    transition: mask-size 0.75s;
    transition: mask-size 0.75s, -webkit-mask-size 0.75s;
    transition-property: background-position, -webkit-mask-size;
    transition-property: mask-size, background-position;
    transition-property: mask-size, background-position, -webkit-mask-size;
  }
  
  .glass--1, .glass--1:after, .glass--1:before {
    background: url(pexels-cottonbro-8720271.jpg);
    background-size: 110% 110%;
  }

  
  
  .glass--1:after, .glass--1:before {
    -webkit-mask-image: linear-gradient(to right bottom, white 51%, rgba(0, 0, 0, 0) 0);
            mask-image: linear-gradient(to right bottom, white 51%, rgba(0, 0, 0, 0) 0);
    -webkit-mask-size: var(--tile) var(--tile);
            mask-size: var(--tile) var(--tile);
    -webkit-mask-position: 50% 50%;
            mask-position: 50% 50%;
  }
  .glass--1:after {
    background-position: -0.5vw -0.5vw;
    -webkit-mask-image: linear-gradient(to left top, white 51%, rgba(0, 0, 0, 0) 0);
            mask-image: linear-gradient(to left top, white 51%, rgba(0, 0, 0, 0) 0);
  }
  .glass--1:hover:before, .glass--1:hover:after {
    --tile: 100px;
    -webkit-mask-size: calc(var(--tile) * .45) calc(var(--tile) * 1.5);
            mask-size: calc(var(--tile) * .45) calc(var(--tile) * 1.5);
  }
  .glass--1:hover:after {
    background-position: -1vw -1vw;
  }
  .glass--2, .glass--2:after, .glass--2:before {
    background: url(pexels-mati-mango-5952651.jpg);
    background-size: 110% 110%;
  }
  .glass--2:after, .glass--2:before {
    -webkit-mask-image: repeating-radial-gradient(white, white 1em, transparent 0, transparent 2em);
            mask-image: repeating-radial-gradient(white, white 1em, transparent 0, transparent 2em);
    -webkit-mask-size: var(--radius) var(--radius);
            mask-size: var(--radius) var(--radius);
    -webkit-mask-position: 50% 50%;
            mask-position: 50% 50%;
  }
  .glass--2:after {
    background-position: -0.5vw -0.5vw;
    background-position: -1vw -1vw;
    -webkit-mask-image: repeating-radial-gradient(transparent, transparent 1em, white 0, white 2em);
            mask-image: repeating-radial-gradient(transparent, transparent 1em, white 0, white 2em);
  }
  .glass--2:hover:before, .glass--2:hover:after {
    --radius: 70%;
  }
  .glass--2:hover:after {
    background-position: -0.5vw -0.5vw;
  }

  .glass--3, .glass--3:after, .glass--3:before {
    background: url(pexels-pixabay-207580s.jpg);
    background-size: 110% 110%;
  }

  
  
  .glass--3:after, .glass--3:before {
    -webkit-mask-image: linear-gradient(to right bottom, white 51%, rgba(0, 0, 0, 0) 0);
            mask-image: linear-gradient(to right bottom, white 51%, rgba(0, 0, 0, 0) 0);
    -webkit-mask-size: var(--tile) var(--tile);
            mask-size: var(--tile) var(--tile);
    -webkit-mask-position: 50% 50%;
            mask-position: 50% 50%;
  }
  .glass--3:after {
    background-position: -0.5vw -0.5vw;
    -webkit-mask-image: linear-gradient(to left top, white 51%, rgba(0, 0, 0, 0) 0);
            mask-image: linear-gradient(to left top, white 51%, rgba(0, 0, 0, 0) 0);
  }
  .glass--3:hover:before, .glass--3:hover:after {
    --tile: 100px;
    -webkit-mask-size: calc(var(--tile) * .45) calc(var(--tile) * 1.5);
            mask-size: calc(var(--tile) * .45) calc(var(--tile) * 1.5);
  }
  .glass--3:hover:after {
    background-position: -1vw -1vw;
  }


.section-container .columns.content .content-container {
    padding: 40px 50px;
    margin: 30px;
    /* border: 2px solid white; */
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.section-container .columns.content .content-container h5 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.section-container .columns.content .content-container p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

#prb-stat{
    margin: 20px;
    color: rgb(57, 156, 237);
    text-shadow: 3px 0px 5px black;
    font-family: 'Orbitron', sans-serif;
}
@media screen and (max-width:767px) {
    .section-container {
        flex-flow: row wrap;
    }

    .section-container .columns.glass.glass--1 {
        display: block;
        order: 1;
        width: 100%;
        height: 250px;
    }

    .section-container .columns.content {
        display: block;
        order: 2;
        width: 100%;
    }

    .section-container .columns.content .content-container {
        padding: 20px 35px;
    }

    .section-container .columns.content .content-container h5 {
        margin-bottom: 5px;
    }
}

.rulescontainer{
    color: white;
    position: relative;
    /* right: 0px; */
    width: 80%;
    padding: 20px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-family: 'Orbitron', sans-serif;
}


.cashprizescontainer{
    color: white;
    position: relative;
    /* right: 0px; */
    width: 80%;
    height: 400px;
    padding: 20px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.05);
   
    border-radius: 15px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s ease-in-out;
    animation: borderglow 8s linear infinite;
}

@keyframes borderglow {
    0%{
        box-shadow: 0 0 20px rgb(242, 242, 237);
    }
    10%{
        box-shadow: 0 0 20px yellow;
    }
    20%{
        box-shadow: 0 0 20px yellowgreen;
    }
    30%{
        box-shadow: 0 0 20px turquoise;
    }
    40%{
        box-shadow: 0 0 20px rgb(0, 64, 255);
    }
    50%{
        box-shadow: 0 0 20px rgb(38, 0, 255);
    }
    60%{
        box-shadow: 0 0 20px rgb(115, 0, 255);
    }
    70%{
        box-shadow: 0 0 20px rgb(162, 0, 255);
    }
    80%{
        box-shadow: 0 0 20px rgb(251, 0, 255);
    }
    90%{
        box-shadow: 0 0 20px rgb(221, 0, 255);
    }
    100%{
        box-shadow: 0 0 20px yellow;
    }
}

.previousyearwinners{
    color: white;
    position: relative;
    /* right: 0px; */
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-family: 'Orbitron', sans-serif;
    transition: all 1s ease-in-out;
}

.moneygifcontainer{
   padding: 50px;
    
}
.moneygif{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: right;
    
}

.githublogo{
    height: 50px;
    width: 50px;
    box-shadow: #03e9f4;
    transition: 0.3s;
}
.githublogo:hover{
    filter: invert(100%);
    cursor: pointer;

}

.linkedinlogo{
    height: 60px;
    width: 60px;
    box-shadow: #03e9f4;
    transition: 0.3s;
}
.linkedinlogo:hover{
    filter: invert(100%);
    cursor: pointer;

}

    



.cashprizescontainer h1{
    margin:  20px;
    color: rgb(57, 156, 237);
    text-shadow: 3px 0px 5px black;
}


.rulescontainer h1{
    margin:  20px;
    color: rgb(57, 156, 237);
    text-shadow: 3px 0px 5px black;
}

.rulescontainer li{
    text-shadow: 3px 0px 5px black;
}
.FAQscontainer{
    color: white;
    position: relative;
    /* right: 0px; */
    width: 80%;
    padding: 20px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-family: 'Orbitron', sans-serif;
}

.FAQscontainer h1{
    margin:  20px;
    color: rgb(57, 156, 237);
    text-shadow: 3px 0px 5px black;
}

.FAQscontainer li{
    text-shadow: 3px 0px 5px black;
}
h5 {
    color: rgb(57, 156, 237);
    font-family: 'Orbitron', sans-serif;
}

p {
    color: white;
    text-shadow: 2px 2px 3px black;
    font-family: 'Orbitron', sans-serif;

}

h3{
    color: white;
    text-shadow: 2px 2px 3px black;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}


h1{
    margin:  20px;
    color: rgb(57, 156, 237);
    text-shadow: 3px 0px 5px black;
    font-family: 'Orbitron', sans-serif;
}
.judges{
    font-family: 'Orbitron',sans-serif;
    color: #3498DB ;
    margin-left: 30px;
    
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
h5{
    color: white;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #5833FF 100%, #5833FF 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #5833FF 100%, #5833FF 100%);
  background: linear-gradient(90deg, #700877 0%, #5833FF 100%, #5833FF 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}





.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

  
  

  .image-wrapper {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 30vh auto;
  }
  
  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
  }
  
  .image-1 {
    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translate(-10px, -10px);
    transition: transform 300ms ease;
    transform-origin: top;
  }
  .image-wrapper:hover .image-1 {
    transform: translate(0, 0);
  }
  
  .image-2 {
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translate(-30px, 5px);
    transition: transform 300ms ease;
  }
  .image-wrapper:hover .image-2 {
    transform: translate(0, 0);
  }
  
  .image-3 {
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translate(-15px, -10px);
    transition: transform 300ms ease;
  }
  .image-wrapper:hover .image-3 {
    transform: translate(0, 0);
  }
  
  .image-4 {
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translate(-32px, 5px);
    transition: transform 300ms ease;
    transform-origin: top;
  }
  .image-wrapper:hover .image-4 {
    transform: translate(0, 0);
  }
  #progress{
    
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #progress-value{
    display:block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #5833FF;
  }

    
   
  .line{
    display: flex;

    
    justify-content: space-around;
  }
  .social-links{
    display: flex;
    flex-wrap: wrap;

  }
  .social-links a{
     width: 80px;
     height: 80px;
     text-align: center;
     text-decoration: none;
     color: #000;
     box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
     margin: 30px;
     border-radius: 50%;
     position: relative;
     overflow: hidden;
     transition: transform 0.5s;
     
  }
  .social-links a .fa-brands{
    font-size: 30px;
    line-height: 80px;
    justify-content: space-around;
    position: relative;
    z-index: 10;

  }
  .social-links a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #380036, #0CBABA);
    position: absolute;
    transition: 0.5s;
  }
  .social-links a:hover::after{
    top: 0;


  }
  .social-links a:hover .fa-brands{
    color: #fff;
  }
  .social-links a:hover{
    transform: translateY(-10px);
  }

  .BOX {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

section {
    position: relative;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    margin: 10px;
    ;
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content {
    opacity: 1;


}

.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25)
}

.container .card .content .imgBx img {
    position: absoulute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    ;


}

.container .card .content .contentBx h3 {
    color: rgb(57, 156, 237);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;

}

.container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
    align-self: center;
}

.container .card.sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    padding: auto;
    transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
}


.container .card .sci li a {
    font-size: 24px;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.icons {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconbtn {

    width: 80px;
    height: 80px;
    margin: 20px;
    position: relative;
    font-size: 30px;
    padding: 35px;
    ;
}

.prizevalue{
    color: white;
    font-size: 3vw;
    text-shadow: 0px 0px 10px yellow;
}
.datevalue{
    color: white;
    font-size: 3vw;
    text-shadow: 0px 0px 10px yellow;
    font-family: 'Orbitron', sans-serif;
}

.cashprizescontainer h3{
    text-shadow: 0px 0px 10px yellow;
}

.prizeinfo li{
    margin: 10px;
}

/* new */
/* body{
	background-color: #151515;
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;

	--blue: #3aa8c3;
	--lightBlue: #0ff;
	--spinAnimation: spin 23s cubic-bezier(.39,-0.52,.53,.98) 0s infinite;
} */

#container{
    
	width: 800px;
	height: 800px;
	max-width: 90vh;
	max-height: 90vh;
  	margin: auto;
  	position: absolute;
	align-self: center;
    width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
    opacity: 30%;
	--blue: #3aa8c3;
	--lightBlue: #0ff;
	--spinAnimation: spin 23s cubic-bezier(.39,-0.52,.53,.98) 0s infinite;
    z-index: -1;
}
@media only screen and (max-width: 1000px) {
    #conatainer{
        display: none;
    }
    #portal{
        display: none;
    }
    
}
#portal{
	width: 100%;
	height: 100%;
	position: relative;
}

#portal > #mainGear{
	position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	animation: var(--spinAnimation);
	will-change: transform;
	z-index: 100;
}

#mainGear > path{
	fill:#735290;
}


#mainGear .decoration{
	fill: var(--blue);
	stroke: var(--blue);
	stroke-width:1px;
}

#mainGear .runes path, #mainGear .runes circle{
	fill: none;
	stroke: var(--blue);
	stroke-width: 2px;
}

#mainGear .runes path.filled, #mainGear .runes circle{
	fill:var(--blue);
}

#portal > #innerGears{
	position: absolute;
	top:14.5%;
	left:14.5%;
	right: 14.5%;
	bottom: 14.5%;
	border-radius: 50%;
	webkit-clip-path: circle(50%);
	overflow: hidden;
}

#portal > #innerGears > .innerGear{
	position: absolute;
	transform-origin: center;
	animation: var(--spinAnimation);
	will-change: transform;
}

.innerGear:nth-child(1){
	width: 190%;
	height: 190%;
	bottom: -22%;
	left: -45%;
	z-index: 99;
}
.innerGear:nth-child(2){
	width: 150%;
	height: 150%;
	bottom: -8%;
	left: -16%;
	z-index: 98;
}

.innerGear:nth-child(3){
	width: 117%;
	height: 117%;
	top: -17%;
	left: 3%;
	z-index: 97;
}

.innerGear:nth-child(4){
	width: 100%;
	height: 100%;
	top: -2%;
	left: 12%;
	z-index: 96;
}

.innerGear:nth-child(5){
	width: 92%;
	height: 92%;
	top: 9.5%;
	left: 15.5%;
	z-index: 95;
}

.innerGear:nth-child(6){
	width: 79.5%;
	height: 79.5%;
	top: 19.5%;
	left: 17%;
	z-index: 94;
}

.innerGear:nth-child(7){
	width: 70%;
	height: 70%;
	top: 23.3%;
	left: 17%;
	z-index: 93;
}

.innerGear:nth-child(8){
	width: 63%;
	height: 63%;
	top: 25%;
	left: 15%;
	z-index: 92;
}

.innerGear:nth-child(9){
	width: 55%;
	height: 55%;
	top: 26%;
	left: 18%;
	z-index: 91;
}

.innerGear:nth-child(10){
	width: 51%;
	height: 51%;
	top: 25%;
	left: 18.5%;
	z-index: 90;
}

.innerGear:nth-child(11){
	width: 48%;
	height: 48%;
	top: 23.5%;
	left: 21%;
	z-index: 89;
}

.innerGear:nth-child(12){
	width: 45%;
	height: 45%;
	top: 23%;
	left: 24%;
	z-index: 88;
}

.innerGear:nth-child(13){
	width: 40%;
	height: 40%;
	top: 25.5%;
	left: 29.2%;
	z-index: 87;
}

.innerGear:nth-child(14){
	width: 35%;
	height: 35%;
	top: 32%;
	left: 34%;
	z-index: 86;
}

.innerGear:nth-child(15){
	width: 32%;
	height: 32%;
	top: 31%;
	left: 35%;
	z-index: 85;
}

.innerGear .teeth{
	fill: url(#radial);
	stroke-width: 5px;
	stroke: var(--lightBlue);
}

.innerGear .runes path{
	fill: var(--lightBlue);
}

@keyframes spin{
	0%{transform: rotate(0deg);}

	8%{transform: rotate(30deg);}
	9%{transform: rotate(30deg);}

	17%{transform: rotate(60deg);}
	18%{transform: rotate(60deg);}

	25%{transform: rotate(90deg);}
	26%{transform: rotate(90deg);}

	33%{transform: rotate(120deg);}
	34%{transform: rotate(120deg);}

	42%{transform: rotate(150deg);}
	43%{transform: rotate(150deg);}

	50%{transform: rotate(180deg);}
	51%{transform: rotate(180deg);}

	58%{transform: rotate(210deg);}
	59%{transform: rotate(210deg);}

	67%{transform: rotate(240deg);}
	68%{transform: rotate(240deg);}

	75%{transform: rotate(270deg);}
	76%{transform: rotate(270deg);}

	83%{transform: rotate(300deg);}
	84%{transform: rotate(300deg);}

	92%{transform: rotate(330deg);}
	93%{transform: rotate(330deg);}

	99%{transform: rotate(360deg);}
	100%{transform: rotate(360deg);}
}